body {
  background-image: url("../img/vault2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  position: relative;
  float: right;
  margin-right: 232px;
  width: 400px;
  height: 340px;
  color: black;
  border-radius: 20px;
  margin-top: 243px;
  font-family: fantasy;
  border: 2px solid black;
  padding-top: 20px;
}

.label-code {
  position: absolute;
  font-size: 30px;
  margin-top: 55px;
  margin-left: 105px;
}

#red-box {
  position: absolute;
  background-color: darkred;
  height: 50px;
  width: 100px;
  margin-left: 220px;
  border-radius: 15px;
  border: 2px solid black;
}

#green-box {
  position: absolute;
  background-color: darkgreen;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  margin-left: 70px;
  border: 2px solid black;
}

.button1 {
  height: 50px;
  width: 50px;
  margin-top: 200px;
  margin-left: 108px;
  background-color: black;
  color: white;
  border: none;
  font-family: fantasy;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}

.button1:hover {
  color: black;
  background-color: white;
}

.button:hover {
  color: black;
  background-color: white;
}

.button {
  height: 50px;
  width: 50px;
  margin-top: 200px;
  margin-left: 15px;
  background-color: black;
  color: white;
  border: none;
  font-family: fantasy;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}

#number-container {
  margin-top: 90px;
  margin-left: 138px;
  position: absolute;
  font-size: 80px;
}

#good-answer, #wrong-answer {
  position: absolute;
  top: 271px;
  left: 77px;
  font-size: 28px;
}

#count-attempts {
  position: absolute;
  top: 313px;
  left: 234px;
}

.count-label {
  position: absolute;
  top: 313px;
  left: 165px;
}
